<nav>
    <form action="#" method="POST" data-type="query">
        <label for="search">Search All</label>
        <input type="search" id="search">
        <input type="submit" value="⚲" style="-webkit-transform: rotate(45deg); -moz-transform: rotate(45deg); -o-transform: rotate(45deg);">
    </form>
</nav>

<nav data-type="search"
     data-elasticsearch='{"query":{"match_phrase":{"attributes.use.tags":"official"}},"size":20,"sort":{"_script":{"script":"Math.random()","type":"number","params":{},"order":"asc"}}}'
     data-view="collection-row"
     data-title="Official Apps">
</nav>

<nav data-type="search"
     data-elasticsearch='{"query":{"match_phrase":{"attributes.use.categories":"education"}},"size":20,"sort":{"_script":{"script":"Math.random()","type":"number","params":{},"order":"asc"}}}'
     data-view="collection-row"
     data-title="Education Apps">
</nav>

<nav data-type="search"
     data-elasticsearch='{"query":{"match_phrase":{"attributes.use.categories":"community"}},"size":20,"sort":{"_script":{"script":"Math.random()","type":"number","params":{},"order":"asc"}}}'
     data-view="collection-row"
     data-title="Community Apps">
</nav>

<nav data-type="search"
     data-elasticsearch='{"query":{"match_phrase":{"attributes.use.tags":"mobile"}},"size":20,"sort":{"_script":{"script":"Math.random()","type":"number","params":{},"order":"asc"}}}'
     data-view="collection-row"
     data-title="Mobile Apps">
</nav>